<nav class="navbar fixed-bottom navbar-expand-sm main-footer">
  <div class="container-fluid">
        <div class="row">
            <div class="col">
                <footer>
                    <h3 class="text-light">Entre em contato</h3>
                    <address>
                        <a href="tel:+5577991895578" class="text-light">+55 77 99189-5578</a>
                        <br>
                        <a href="mailto:{{ contato_email }}" class="text-light">{{ contato_email }}</a>
                    </address>
                    <div class="text-light">{% now 'Y' %} Cartão Online. Todos os direitos reservados.</div>
                </footer>
            </div>
        </div>
    </div>
</nav>
