{% extends 'base/base.html' %}
{% load static %}
{% block title %}Procure um cartãO Online{% endblock title %}
{% block description %}A melhor forma de apresentar seus contatos{% endblock description %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <br>
            <div class="card">
                <div class="card-body">
                    <input type="text" class="form-control" placeholder="Procure alguém"/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}